.wrapper{
    max-width: 1400px;
}

.homepage{
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    background-image: url('../Images/heroBgImage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.client-logo{
    height: 40px;
}

.right-image{
    width: 100% !important;
}
.hero-buttons button {
    border-radius: 0px;
    border: 1px solid transparent;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.3px;
    transition: all 0.2s ease-in-out;
    padding: 10px 20px 10px 15px !important;
    width: 250px !important;
}

.free-quote-btn {
    background: #2B6EF2; 
    color: #fff !important;
    border-color: #2B6EF2;
}

.free-quote-btn:hover {
    background: #1f56c3;
    border-color: #1f56c3;
}

.explore-work-btn {
    background-color: #ffffff !important;
    color: red;
    border: 1px solid #ddd;
}

.explore-work-btn:hover {
    background: #f2f2f2;
    border-color: #ccc;
}

/* Arrow Icon */
.arrow-icon{
    height: 20px;
    width: auto;
}

/* Make spacing identical to screenshot */
.hero-buttons .btn span {
    display: inline-block;
    margin-right: 10px;
}