.explore-products-section {
  background: #ffffff;
}

.explore-heading {
  font-size: 32px;
  font-weight: 200;
}

.underline-wrapper {
  position: relative;
  display: inline-block;
}

.underline-img {
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 10px;
  pointer-events: none;
}

.gray-font {
  color: #6f6f6f;
}

.explore-prod-desc{
    font-size: 15px;
}

.explore-product-box {
  border: 1px solid #dcdcdc;
  border-radius:0px;
  background: white;
}

.tag-badge {
  border: 1px solid #ABB3CB;
  padding: 3px 12px;
  border-radius: 0px;
  font-size: 15px;
  color: #6C788F;
  letter-spacing: 0.5px;
}

.explore-product-img {
  width: 100%;
  max-width: 455px;
  object-fit: contain;
  border: 1px solid #dcdcdc;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.explore-btn {
  background-color: #3E7DFC !important;
  color: #fff !important;
  padding: 10px 18px !important;
  border-radius: 0px !important;
  font-weight: 400 !important;
}

.explore-btn:hover {
  background: #ffffff !important;         /* white bg */
  color: #2B6EF2 !important;              /* blue text */
  border: 1px solid #2B6EF2 !important;   /* blue border */
  box-shadow: 4px 4px 0px #2B6EF2 !important;  
}

/* Arrow animation */
.explore-btn .arrow-icon {
  transition: transform 0.35s ease-in-out !important;
}

.explore-btn:hover .arrow-icon {
  transform: rotate(-45deg);
  filter: brightness(0) saturate(100%) invert(36%) sepia(98%)
    saturate(2475%) hue-rotate(206deg) brightness(95%) contrast(101%);
}

.arrow-icon {
  height: 19px;
  width: auto;
}

@media (min-width: 200px) and (max-width: 425px) {
 .explore-product-img-div{
  margin-top: 3rem !important;
 }

 .container {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
}