.what-provide-section {
  background: #F8FAFF;
}

.heading-provide {
  font-size: 32px;
  font-weight: 200;
}

.underline-wrapper {
  position: relative;
  display: inline-block;
}

.underline-img {
  position: absolute;
  bottom: -14px;
  left: 0;
  width: 100%;
  height: 10px;
  pointer-events: none;
}

.what-we-provide-title{
    font-weight: 600 !important;
}

.gray-font {
  color: #6f6f6f;
}

.services-grid {
  border: 1px solid #ddd;
  border-radius: 0px;
  overflow: hidden;
}

/* SERVICE BOXES */
.service-box {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background: white;
}

.service-box:hover {
  background: #000 !important;
  color: #fff !important;
}

/* Make titles white on hover */
.service-box:hover .what-we-provide-title,
.service-box:hover p {
  color: #fff !important;
}

/* Last column in row should not have right border */
.col-lg-6:nth-child(2n) .service-box {
  border-right: none;
}

/* Last two rows should not have bottom border */
.col-lg-6:nth-last-child(-n+2) .service-box {
  border-bottom: none;
}

.arrow-wrapper {
  width: 46px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  background: transparent;
}

.arrow-icon {
  height: 20px;
  transition: transform 0.25s ease-in-out;
}

.service-box:hover .arrow-wrapper {
  background: #ffffff !important;
}

.arrow-icon-rotate{
  rotate: -45deg;
}