.services-page{
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

.service-hero-section{
 background: radial-gradient(
    circle at center,
    rgb(3, 34, 98) 0%,
    rgb(9, 34, 84) 10%,
    rgba(0, 0, 0,1) 100%
  );
}

.light-gray {
  color: #a2a9b5 !important;
}