.contact-us-container {
  margin: 0 auto;
  gap: 40px;
  display: flex;
  flex-direction: column;
}

.contact-us-top-section {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  text-align: center;
  background: white;
  margin-bottom: 40px;

  & .contact-us-top-section-text {
    display: flex;
    flex-direction: column;
  }

  & h2 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #131926;
  }

  & p {
    font-size: 16px;
    color: black !important;
  }
}

.contact-us-top-cards {
  margin-top: 30px;
}

.contact-us-card {
  border: 1px solid #abb3c2;
  padding: 20px 30px 18px 30px;
  color: #131926;
  display: flex;
  flex-direction: column;

  & h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
  }

  & p {
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
  }
}

.underline-text {
  position: relative;
  display: inline-block;
}

.underline-text::after {
  content: "";
  position: absolute;
  left: -9px;
  bottom: -9px;
  /* adjust distance from text */
  width: 100%;
  height: 12px;
  background-image: url("../images/Vector\ 1.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.contact-us-form-box {
  & label {
    font-weight: 600;
    font-size: 15px;
    color: black !important;
  }
}

/* Main section layout */
.contact-us-main-section {
  background-color: #f8faff;
  padding: 100px 100px 100px 100px;
}

@media (max-width: 900px) {
  .contact-us-main-section {
    grid-template-columns: 1fr;
  }
}

.contact-us-form-box {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;

  & form {
    padding: 25px;
    border: 2px solid #abb3c2;
    background-color: white !important;
  }

  & label {
    font-weight: 600;
    font-size: 14px;
  }
}

.contact-us-form-box input,
.contact-us-form-box select,
.contact-us-form-box textarea {
  width: 100%;
  padding: 6px;
  margin-bottom: 18px;
  border: 1px solid #abb3c2;
  color: #6c788f;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
}

.contact-us-form-row {
  display: flex;
  gap: 36px;
}

.contact-us-form-row div {
  flex: 1;
}

@media (max-width: 600px) {
  .contact-us-form-row {
    flex-direction: column;
  }
}

.contact-us-submit-btn {
  background: #3e7dfc;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  gap: 20px;
}

/* Right side process cards */
.contact-us-process-box {
  margin: 0 auto;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.contact-us-process-header {
  border: 1px solid #abb3c2;
  background-color: white;
}

.contact-us-process-card {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 20px 23px 20px 23px;
  border-top: 1px solid #abb3c2;

  & h5 {
    font-family: Inter;
    font-size: 22px;
    font-weight: 600;
    color: #131926;
  }

  & p {
    font-size: 14px;
    font-weight: 400;
    color: black;
    line-height: 20px;
    margin-bottom: 0px !important;
  }
}

.contact-us-main-section .row {
  display: flex;
  align-items: stretch !important;
}

.contact-us-copy-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 1px solid #abb3c2;
  background-color: white;
  margin: 0 auto;
  margin-top: 1.8rem !important;
}

.contact-us-copy-img img {
  width: 100%;
  height: auto;
  object-fit: contain;
}


@media (min-width: 200px) and (max-width: 575px) {
  .contact-us-main-section{
    padding: 50px 0px 0px 0px !important;
  }

  .contact-us-form-row{
    gap: 10px;
  }

  .contact-us-process-card{
    padding: 30px 31px;
  }

  .contact-us-process-box{
    padding-bottom: 2rem;
  }

  .contact-us-container{
    gap: 0px !important;
  }
}