* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hanken-grotesk{
  font-family: 'Hanken Grotesk';
  font-weight: 700;
}

.inter{
  font-family: 'Inter';
}

.light-gray{
  color: #A2A9B5;
}

.free-quote-btn{
  background-color: #3E7DFC !important;
}

.explore-our-work-btn{
  background-color: #FFFFFF !important;
}