* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hanken-grotesk {
  font-family: "Hanken Grotesk";
  font-weight: 700;
}

.inter {
  font-family: "Inter";
}

.light-gray {
  color: #a2a9b5;
}

.gray-font {
  color: #6c788f !important;
}

.blue-common-btn {
  background-color: #3e7dfc !important;
}

.explore-our-work-btn {
  background-color: #ffffff !important;
}

.gray-font-margin-top {
  margin-top: 3rem !important;
}

@media (min-width: 200px) and (max-width: 425px) {
  .heading-provide {
    font-size: 28px !important;
    margin-bottom: 2rem !important;
  }

  .gray-font-margin-top {
    margin-top: 2rem !important;
  }
}