* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.work-page {
  width: 100vw;
  max-width: 100vw;
  padding-bottom: 2rem;
  overflow-x: hidden;
}

.work-hero-section {
  width: 100vw;
  max-width: 100vw;
  padding-bottom: 9rem;
  overflow-x: hidden;
  background-image: url("../Images/work-hero-section.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 1rem;
}

/* ---- WORK CONTENT ---- */
.work-content {
  text-align: center;
  margin-top: 6rem;
  /* pushes text below navbar */
  color: white;
}

.work-content h1 {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 1rem;
}

.work-content p {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: light;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  color: #ffffff;
  width: 60%;
  margin: 0 auto;
}

.line-break::before {
  content: "\A";
  /* Line break */
}
