* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

.lets-build-section {
  position: relative;
  background: #020814;
  padding: 5rem 0px 5rem 0px;
  overflow: hidden;
  border-radius: 0;
}

/* Curved LEFT & RIGHT images */
.overlay-curves {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 180%;
  height: 180%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 0;
}

.curve {
  position: absolute;
  height: 100%;
  object-fit: contain;
  opacity: 0.9;
  width: 100%;
}

.curve-left {
  left: -32%;
  transform: scaleX(-1);
}

.curve-right {
  left: 31%;
  transform: scaleX(-1);
}

.content-wrapper {
  position: relative;
  z-index: 5;
  max-width: 700px;
  margin: 0 auto;
}

.lets-build-main-title {
  color: #ffffff;
  font-family: "Hanken Grotesk";
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.lets-build-subtitle {
  font-family: Inter;
  font-weight: 400;
  font-style: normal; /* "Regular" means normal */
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #ffffff99; /* exact from your specs */
  margin: 20px 0 40px; /* keep your spacing */
}
/* =============== RESPONSIVE =============== */

/* =================== MOBILE FIXES =================== */
@media (min-width: 845px) and (max-width: 1013px) {
  .curve-left {
    left: -26%;
    transform: scaleX(-1);
  }

  .curve-right {
    left: 28%;
    transform: scaleX(-1);
  }
}

@media (min-width: 768px) and (max-width: 846px) {
  .curve-left {
    left: -26%;
    transform: scaleX(-1);
  }

  .curve-right {
    left: 26%;
    transform: scaleX(-1);
  }
}

@media (min-width: 369px) and (max-width: 425px) {
  .curve-left {
    left: -44vw;
  }

  .curve-right {
    left: 25%;
  }

  .lets-build-main-title{
    font-size: 22px;
  }

  .lets-build-subtitle{
    font-size: 18px;
  }
}

@media (min-width: 352px) and (max-width: 368px) {
  .curve-left {
    left: -44vw;
  }

  .curve-right {
    left: 25%;
  }

  .lets-build-main-title{
    font-size: 22px;
  }

  .lets-build-subtitle{
    font-size: 18px;
  }

}

@media (min-width: 318px) and (max-width: 351px) {
  .curve-left {
    left: -48vw;
  }

  .curve-right {
    left: 25%;
  }

  .lets-build-main-title{
    font-size: 22px;
  }

  .lets-build-subtitle{
    font-size: 18px;
  }
}