/* Custom padding classes for values greater than Bootstrap's py-5 */
.ourwork-section.py-6 {
  padding-top: 4.5rem !important;
  padding-bottom: 4.5rem !important;
}

.ourwork-section.py-7 {
  padding-top: 5.5rem !important;
  padding-bottom: 5.5rem !important;
}

.ourwork-section.py-8 {
  padding-top: 6.5rem !important;
  padding-bottom: 6.5rem !important;
}

.clickable-logo {
  cursor: pointer;
  padding: 25px;
  border-bottom: 1px solid #eee;
  transition: background 0.2s ease-in-out;
}

.left-box {
  padding: 3rem !important;
}

.row.g-0 {
  border: 1px solid #abb3cb;
  background: #ffffff;
}

.clickable-logo img {
  width: 85%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.clickable-logo:hover {
  background: #f4f6fa;
}

.logos-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo-item-block {
  padding: 36px 20px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inactive-logo {
  background: #f5f5f7;
}

.active-logo {
  background: #ffffff;
}

.gray-font {
  color: #6f6f6f;
}

/* Logo sizing */
.logo-item-block img {
  width: auto;
  height: auto;
  max-width: 110px;     /* limit width */
  max-height: 110px;    /* limit height */
  object-fit: contain;
  transition: opacity 0.25s ease-in-out;
}

.inactive-logo img {
  opacity: 0.6;
}

.active-logo img {
  opacity: 1;
}

.testimonial-text {
  margin-top: 15px;
  font-size: 18px;
}

.client-info-section {
  margin-top: 1rem;
}

@media (max-width: 575px) {
  .logos-box {
    order: 1;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 5px 10px 5px;
  }

  .logo-item-block {
    flex: 1;
    padding: 18px 8px;
    border-left: none !important;
  }

  .active-logo {
    background: #ffffff;
  }

  .inactive-logo {
    background: #f5f5f7;
  }

  .logo-item-block img {
    width: auto;
  height: auto;
  max-width: 55px;
  max-height: 55px;
  object-fit: contain;
  }

  .left-box {
    order: 2;
    padding: 20px !important;
    margin-top: 2rem !important;
  }

  .testimonial-text {
    font-size: 16px;
    line-height: 22px;
  }

  .client-details h5 {
    font-size: 18px;
  }

  .linkedin-icon {
    width: 35px;
  }
}

.logo-item-block {
  overflow: hidden;
  
}