*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.heading-diff {
  font-size: 32px;
  font-weight: 200;
}

.underline-wrapper {
  position: relative;
  display: inline-block;
}

.underline-img {
  position: absolute;
  bottom: -14px;
  left: 0;
  width: 100%;
  height: 10px;
  pointer-events: none;
}
.row.g-0 {
  border: 1px solid #ABB3CB;
}

.left-box {
  position: relative;
}

.quote-icon {
  margin-bottom: 20px;
}

.testimonial-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000;
  margin-bottom: 40px;
}


.client-details {
  display: flex;
  flex-direction: column;
  justify-content: center;  
}


/* Alex Park text */
.left-box h5 {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 700;
  font-style: normal; 
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #000;
}

/* CEO, Harmony Inc. text */
.left-box small {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #6C788F; 
}


/* LinkedIn Icon */
.linkedin-icon {
  object-fit: cover;
  cursor: pointer;
}


/* Right Side Logos*/
.logos-box {
  display: flex;
  flex-direction: column;        
  justify-content: space-between;
}



.logo-item:last-child {
  border-bottom: none;
}

.logo-item img {
  width: 100%;
  object-fit: cover;
}

/* Responsive */

@media (max-width: 991px) {
  .left-box {
    order: 2;
  }

  .logos-box {
    order: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .logo-item {
    border-radius: 6px;
  }

  .logo-item img {
    width: 100%;
  }
}

