.clickable-logo {
  cursor: pointer;
  padding: 25px;
  border-bottom: 1px solid #eee;
  transition: background 0.2s ease-in-out;
}

.left-box {
  padding: 3rem !important;
}

.row.g-0 {
  border: 1px solid #abb3cb;
  background: #ffffff;
}

.clickable-logo img {
  width: 85%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.clickable-logo:hover {
  background: #f4f6fa;
}

.logos-box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo-item-block {
  padding: 16px 20px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inactive-logo {
  background: #f5f5f7;
}

.active-logo {
  background: #ffffff;
}

/* Logo sizing */
.logo-item-block img {
  width: 90%;
  object-fit: contain;
  opacity: 0.9;
  transition: opacity 0.25s ease-in-out;
}

.inactive-logo img {
  opacity: 0.6;
}

.active-logo img {
  opacity: 1;
}

.testimonial-text {
  margin-top: 15px;
  font-size: 18px;
}

.client-info-section {
  margin-top: 1rem;
}

/* MOBILE VIEW (<= 425px) */
@media (max-width: 425px) {
  .logos-box {
    order: 1;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 5px 10px 5px;
  }

  .logo-item-block {
    flex: 1;
    padding: 18px 8px;
    border-left: none !important;
  }

  .active-logo {
    background: #ffffff;
  }

  .inactive-logo {
    background: #f5f5f7;
  }

  .logo-item-block img {
    width: 100%;
    max-width: 70px;
    height: auto;
  }

  .left-box {
    order: 2;
    padding: 20px !important;
    margin-top: 2rem !important;
  }

  .testimonial-text {
    font-size: 16px;
    line-height: 22px;
  }

  .client-details h5 {
    font-size: 18px;
  }

  .linkedin-icon {
    width: 35px;
  }
}
