.navbar-button {
  border-radius: 0px;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.3px;
  transition: all 0.2s ease-in-out;
  padding: 10px 10px 10px 15px !important;
  width: 145px !important;
  color: #ffffff !important;
}

.navbar-toggler {
  border: 1.5px solid #abb3cb !important;
  border-radius: 0px !important;
  padding: 8px 7px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-toggle:active,
.navbar-toggle:focus {
  outline: none;
  border-color: #ffffff !important;
}

.arrow-icon {
  height: 20px;
  width: auto;
}

.nav-link:hover {
  color: #3e7dfc !important;
}