.navbar-button{
    border-radius: 0px;
    border: 1px solid transparent;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.3px;
    transition: all 0.2s ease-in-out;
    padding: 10px 10px 10px 15px !important;
    width: 145px !important;
    color: #ffffff;
}

.arrow-icon{
    height: 20px;
    width: auto;
}

.nav-link:hover {
    color: #3E7DFC !important;
}