*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

.choose-us-section {
  background-color: #F8FAFF;
}
.heading-diff {
  font-size: 32px;
  font-weight: 200;
}

.underline-wrapper {
  position: relative;
  display: inline-block;
}

.underline-img {
  position: absolute;
  bottom: -14px;
  left: 0;
  width: 100%;
  height: 10px;
  pointer-events: none;
}
.choose-title {
  font-size: 32px;
  font-weight: 500;
}

.choose-subtitle {
  font-size: 14px;
  color: #6C788F;
}

.choose-box {
  text-align: left;
  background: #ffffff;
}

.choose-box h5 {
  font-size: 16px;
}

.choose-desc {
  font-size: 14px;
  color: #6b7280;
  line-height: 1.5;
}
