*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

.choose-us-section {
  background-color: #F8FAFF;
}
.heading-diff {
  font-size: 32px;
  font-weight: 200;
}

.underline-wrapper {
  position: relative;
  display: inline-block;
}

.underline-img {
  position: absolute;
  bottom: -14px;
  left: 0;
  width: 100%;
  height: 10px;
  pointer-events: none;
}
.choose-title {
  font-size: 32px;
  font-weight: 500;
}

.choose-subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: #6C788F;
  word-break: break-all;
}

.line-break{
  display: block;
}

.choose-box {
  text-align: left;
  background: #ffffff;
}


.choose-title {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 600 !important;    
  font-style: normal;     
  font-size: 23px !important;
  line-height: 30px;
  letter-spacing: 0;
  color: #131926;       
}

.choose-desc {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;    
  font-size: 14px;
  line-height: 20px;     
  letter-spacing: 0;
  color: #131926;
}

.row.g-0 {
    border: 1px solid #ABB3C2;
}

.border {
  border:#ABB3C2 !important;
}
