*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

.choose-us-section {
  background-color: #F8FAFF;
}

/* Custom padding classes for values greater than Bootstrap's py-5 */
.choose-us-section.py-6 {
  padding-top: 4.5rem !important;
  padding-bottom: 4.5rem !important;
}

.choose-us-section.py-7 {
  padding-top: 5.5rem !important;
  padding-bottom: 5.5rem !important;
}

.choose-us-section.py-8 {
  padding-top: 6.5rem !important;
  padding-bottom: 6.5rem !important;
}

/* Custom padding-top classes for values greater than Bootstrap's pt-5 */
.choose-us-section.pt-6 {
  padding-top: 4.5rem !important;
}

.choose-us-section.pt-7 {
  padding-top: 5.5rem !important;
}

.choose-us-section.pt-8 {
  padding-top: 6.5rem !important;
}

/* Custom padding-bottom classes for values greater than Bootstrap's pb-5 */
.choose-us-section.pb-6 {
  padding-bottom: 4.5rem !important;
}

.choose-us-section.pb-7 {
  padding-bottom: 5.5rem !important;
}

.choose-us-section.pb-8 {
  padding-bottom: 6.5rem !important;
}

.heading-diff {
  font-size: 32px;
  font-weight: 200;
}

.underline-wrapper {
  position: relative;
  display: inline-block;
}

.underline-img {
  position: absolute;
  bottom: -14px;
  left: 0;
  width: 100%;
  height: 10px;
  pointer-events: none;
}
.choose-title {
  font-size: 32px;
  font-weight: 500;
}

.choose-subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: #6C788F;
  word-break: break-all;
}

.line-break{
  display: block;
}

.choose-box {
  background-color: #ffffff;
  color: #131926;
  border: 1px solid #E5E7EB;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/* Hover Effect */
.choose-box:hover {
  background-color: #0F1824;   
  border-color: transparent;  
}

.choose-box h5,
.choose-box p {
  transition: color 0.3s ease;
}

.choose-box:hover h5,
.choose-box:hover p {
  color: #ffffff;
}



.choose-title {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 600 !important;    
  font-style: normal;     
  font-size: 23px !important;
  line-height: 30px;
  letter-spacing: 0;
  color: #131926;       
}

.choose-desc {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;    
  font-size: 14px;
  line-height: 20px;     
  letter-spacing: 0;
  color: #131926;
}

.row.g-0 {
    border: 1px solid #ABB3C2;
}

.border {
  border:#ABB3C2 !important;
}
