.homepage-blog-section {
  background: #ffffff;
}

.blog-heading {
  font-size: 30px;
  font-weight: 400;
}

.underline-wrapper {
  position: relative;
  display: inline-block;
}

.underline-img {
  position: absolute;
  left: 0;
  bottom: -14px;
  width: 100%;
  height: 10px;
  pointer-events: none;
}

.blog-card {
  border: 1px solid #dcdcdc;
  border-radius: 0px;
  background: white;
}

.homepage-blog-img {
  width: 100%;
  height: auto;
  padding: 17px 17px 0px 17px;
}

.homepage-blog-title {
  font-size: 15px;
  color: #333;
  margin-bottom: 0;
  font-weight: 500;
}

.homepage-blog-date {
  font-size: 14px;
  color: #6C788F;
  font-weight: 400;
}

.blog-btn {
  border: 1px solid #000  !important;
  border-radius: 0px !important;
  padding: 6px 12px;
  font-size: 14px;
  background: white;
}

.blog-btn:hover {
  color: black !important;
  border-color: #000000 !important;
  box-shadow: 4px 4px 0px #000000;
  background-color: transparent !important;
}

.blog-btn .arrow-icon {
  transition: transform 0.35s ease-in-out !important;
}

.blog-btn:hover .arrow-icon {
  transform: rotate(-45deg);
}

.arrow-icon {
  height: 16px;
  width: auto;
}
